<!DOCTYPE html>
<html>
<head>
	<title>DishDiscovery</title>
	<style>
		body {
			background-image: url("chef-work-space-background.jpg");
			background-size: cover;
		}
	</style>
</head>
<body>
	<header>
		<h1>Welcome to DishDiscovery!</h1>
	</header>
	<main>
		<p>Discover new restaurants, read reviews, and share your own experiences.</p>
		<div>
			<a href="/MenuItems">Explore our Menu and don't forget to let a review</a>
		</div>
		<div>
			<a href="/Reviews">Here you can see the reviews</a>
			<div />
	</main>
</body>
</html>
