@model Customer

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h1 class="text-danger">Delete Customer</h1>

    <div class="row">
        <div class="col-md-6">
            <form asp-action="Delete" method="post">
                <h4>Are you sure you want to delete this customer?</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </div>
                <input type="hidden" asp-for="CustomerId" />
            </form>
        </div>
    </div>
</div>
